<p id="notice"><%= notice %></p>
<div class="container">
<p>
  <b>Name: </b>
  <%= @program.name %>
  <b>Description: </b>
  <%= @program.description %>
</p>

<%= link_to 'Back', programs_path %>
</div>